<% @comics.in_groups_of(4, false).each_with_index do |group, index| %>
  <div class="row">
    <% group.each do |comic| %>
      <div class='col-md-3 test'>
      	<a href="/comics/show/<%= comic.id %>" class="image-responsive"><img src="<%= comic.image %>" height="330" width="220"></a>
      </div>
    <% end %>
  </div>
<% end %>
