<div class='container'>
  <h2>Add a new comic</h2>
</div>

<div class='row'>
	<div class="col-md-6">
		<%=render "form" %>
	</div>
</div>

<div class='container'>
  <%= link_to 'Back to all comics', comics_path %>
</div>
