<div class='row'>
  <div class='col-md-3'>
    <img src = "<%= @image%>" class='image-responsive' height="330" width="220">
  </div>
  <div class='col-md-9'>
    <h1><%= @title %></h1>
    <h4><%= @description %></h4>
    <%= link_to "Delete This Comic", "/comics/destroy/#{@comic.id}", class: 'btn btn-warning', :confirm => "Are you sure?" %>    
  </div>
</div>
